 simple example of CSS code:

p {
font-family: verdana;
font-size: 20px;
color: green;
}


The “p” is called a ‘selector’, which indicates what element the code should effect. In this case, “p” stands for paragraph. 
